<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="public/index.css" rel="stylesheet" />

    <title>Go Htmx CRUD</title>
  </head>

  <body>
    <form
      hx-post="/add/"
      hx-target="#task-list"
      hx-swap="beforeend"
      hx-indicator="#spinner"
    >
      <input type="text" id="name" name="name" placeholder="Task name" />
      <button type="submit">
        Submit
        <span class="spinner" id="spinner">....</span>
      </button>
    </form>

    <ul id="task-list">
      {{ range . }}
      <li id="item-{{ .ID }}">
        {{ .ID }} - {{ .Name }}
        <button
          hx-target="#item-{{ .ID }}"
          hx-get="/edit/form?name={{ .Name }}&ID={{ .ID }}"
          type="button"
        >
          Edit
        </button>
        <button
          hx-delete="/delete?ID={{ .ID }}"
          hx-swap="delete"
          hx-target="#item-{{ .ID }}"
          hx-indicator="#spinner-delete-{{ .ID }}"
          type="button"
        >
          Delete
          <span class="spinner" id="spinner-delete-{{ .ID }}">....</span>
        </button>
      </li>
      {{ end }}
    </ul>

    <script src="public/main.js"></script>
    <script src="public/htmx.min.js"></script>
  </body>
</html>
