<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/index.css">
    <title>HTMX & Go</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2" 
        integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
 <script>
    tailwind.config = {
  theme: {
    extend: {
      backgroundImage: {
        'gradient-radial': 'radial-gradient(var(--tw-gradient-stops))',
        'gradient-conic':
          'conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops))',
      },
    },
  },
  </script>

</head>
<body>

    <div class="row mt-4 g-4">
        <div class="col-8">
            <h1 class="text-gray-200 text-8xl">Tasks</h1>
        
            <ul class="list-group-item bg-primary text-white" id="task-list">
            {{ range . }} 
                <li id="item-{{ .ID }}">
                    {{ .Name }} - {{ .ID }}
                    <button hx-get="/edit/form?name={{ .Name }}&ID={{ .ID }}" hx-target="#item-{{ .ID }}">
                        Edit
                    </button>

                    <button 
                        hx-delete="/delete/{{ .ID }}"
                        hx-swap="delete"
                        hx-target="#item-{{ .ID }}"
                        hx-indicator="#spinner-delete-{{ .ID }}"
                        >
                        <span class="spinner-border spinner-border-sm htmx-indicator" 
                            id="spinner-delete-{{ .ID }}" role="status" aria-hidden="true">
                        </span>
                            Del
                    </button>
                </li>
            {{ end }}
            </ul>
        </div>



    <div class="col-4">
        <h1 class="mb-4">Add Task</h1>

<form id="task-form" hx-post="/add/" hx-target="#task-list" hx-swap="beforeend" hx-indicator="#spinner">
    <div class="mb-2">
        <label for="task-title">Title</label>
        <input type="text" name="name" id="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">
        <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status" aria-hidden="true"></span>
        Submit
    </button>
</form>
        </div>

    </div>

</body>


</html>

